<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<br/>
<center>
    <h1>System stworzony tylko dla kursów z Zakopanego do Gdańka</h1>
</center>
<br/>
<br/>
<br/>
<br/>
<center>
    <table width="1000" class="coll-md-4 order-md2 mb-4">
        <tr>
            <td>
                <div th:if="${warning != null} " style="text-align: center;" class="alert alert-danger" role="alert" th:text="${warning}">
                </div>
                <div th:if="${freeSeats != 0} AND ${freeSeats != null}" style="text-align: center;"
                     class="alert alert-success" role="alert" th:text="'Wolnych miejsc jest: ' + ${freeSeats}"></div>
                <div th:if="${freeSeats == 0}" style="text-align: center;" class="alert alert-danger" role="alert">Brak
                    miejsc
                </div>
                <div class="coll-md-4 order-md2 mb-4">
                    <form class="needs-validation" th:action="@{/index}" method="post">
                        <h4 class="mb-3">Sprawdź czy są jeszcze wolne miejsca</h4>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>From City</label>
                                <select class="custom-select d-block w-100" th:name="fromCity" required>
                                    <option value="">Choose...</option>
                                    <option th:text="${city.getName()}" th:value="${city.getName()}"
                                            th:each="city : ${cities}"></option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>To City</label>
                                <select class="custom-select d-block w-100" th:name="toCity" required>
                                    <option value="">Choose...</option>
                                    <option th:text="${city.getName()}" th:value="${city.getName()}"
                                            th:each="city : ${cities}"></option>
                                </select>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Sprawdź</button>
                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-2 mb-3">
                        <button type="button" class="btn btn-success" onclick="location.href='/addPassenger'" ;>Kup
                            bilet
                        </button>
                    </div>
                    <div class="col-md-2 mb-3">
                        <button type="button" class="btn btn-warning" onclick="location.href='/listOfPassengers'" ;>
                            Lista pasażerów
                        </button>
                    </div>
                    <div class="col-md-2 mb-3">
                        <button type="button" class="btn btn-info" onclick="location.href='/status'" ;>Sprawdź
                            status zajętości miejsc w miastach
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</center>


</body>
</html>